.cover-image {
    background-size: cover;
}

.image-border-bottom {
    border-bottom: 5px solid var(--white-border);
}

.parallax {
    overflow-x: hidden;
    overflow-y: auto;

    perspective: 1px;
}
