.cover-image {
    background-size: cover;
}

.image-border-bottom {
    border-bottom: 6px solid var(--white-border);
}

.parallax {
    overflow-x: hidden;
    overflow-y: auto;

}

.logo-glow {
    
    filter: drop-shadow(3px 3px 5px #000000);
    -webkit-filter: drop-shadow(3px 3px 5px #000000);
    -moz-filter: drop-shadow(3px 3px 5px #000000);
}


  