@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overscroll-behavior: none;
}
body {
  background: #1b0727;
  background: -moz-linear-gradient(0deg, #1b0727 0%, hsl(262, 49%, 14%) 30%, #0e1535 100%);
  background: -webkit-linear-gradient(0deg, #1b0727 0%, rgba(31,18,53,1) 30%, rgb(14, 21, 53) 100%);
  background: linear-gradient(0deg, #1b0727 0%, rgba(31,18,53,1) 30%, #0e1535 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b0727",endColorstr="#0e1535",GradientType=1); 
  background-position-y: 50%;
  cursor: default;


}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-right-click {
  pointer-events: none;
}

html, body {
    margin: 0;
    font-family: "Cabin", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
